.standard-layer {
  max-width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: row;
  background-color: dimgrey;
}

.sidebar {
  flex-grow: 1;
  max-width: 350px;
  transition: all 0.3s;
}

.collapsed {
  flex-grow: 0;
  transition: all 0.3s;
}

.page {
  flex-grow: 6;

  margin: 15px;
  padding: 20px;

  background-color: #e3e3e3;

  border: #282c34 2px solid;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;

  .title {
    width: 100%;
    padding-bottom: 15px;
    border-bottom: #282c34 1px solid;

    text-align: center;

    font-size: 2em;
    font-weight: bold;
  }

  .hidden {
    display: none;
  }

  .content {
    overflow-y: scroll;
  }
}
