table {
  width: 100%;
  border: #282c34 1px solid;
  border-top: 0;

  thead {
    position: sticky;
    top: 0;

    border: darkgray 1px;
    background-color: darkgray;

      td {
        padding-top: 9px;
        text-align: center;

        .research-bar {
          width: 80%;
          height: 20px;

          padding-left: 15px;
          padding-right: 15px;

          border-radius: 8px;
          border: 0;

          box-shadow: inset 0 0 2px #1C3879;

          &:focus {
            outline: none !important;
          }
        }
      }

    .header-title{
      padding-bottom: 5px;

      font-weight: bolder;
    }
  }


  tbody {
    cursor: default;

    tr:nth-child(2n + 1) {
      background-color: #ffa;
    }

    tr:nth-child(2n + 1) {
      background-color: #cbcbcb;
    }

    tr {
      padding: 2px 0;

      .name {
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 8px;

        &:hover {
          text-decoration: underline;
        }
      }

      .size {
        text-align: right;
      }

      .mtime {
        text-align: center;
      }
    }
  }

}
