.sidebar {
  min-width: 25px;

  display: flex;

  flex-direction: column;
  justify-content: space-between;


  background-color: #1C3879;
  color: #EAE3D2;
}

.sidebar-title {
  margin: 5px;
  position: relative;

  .sidebar-collapsed-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    cursor: default;
  }

  .icon {
    height: 100%;

    width: 25px;
    padding-top: 2px;
    margin-left: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      color: #a9a290;
    }
  }
}

nav {
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;

  a:link, a:visited {
    text-decoration: none;
    color: darkgray;
  }

  li:first-child {
    border-top: dimgrey 1px solid;
  }

  li {
    height: 40px;
    width: 95%;
    border-bottom: dimgrey 1px solid;

    display: flex;
    align-items: center;
    transform: scale(1);
    transition: transform 400ms ease-in-out;

    &:hover {
      background-color: royalblue;
      border-radius: 5px;

      a {
        color: #EAE3D2;

        .sidebar-collapsed-text {
          min-width: 45px;
          transform: translate(30%) scale(1.3);
          transition-duration: 250ms;
        }
      }
    }

    a {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;

      .icon {
        margin-right: 10px;
        margin-left: 10px;
      }

      .sidebar-collapsed-text {
        text-transform: uppercase;
      }
    }
  }
}

.sidebar-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 10px;
}

.collapsed {
  li {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;

    &:hover {
      border-radius: 0;

      .sidebar-collapsed-text {
        position: absolute;
        transform: translate(25px, -11.35px);

        width: auto;
        height: 40px;
        padding: 0 10px;

        border: dimgrey 1px solid;
        border-left: 0;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;

        background-color: royalblue;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;

        white-space: nowrap;
      }
    }

  }

  .sidebar-collapsed-text {
    display: none;
  }

  .icon {
    margin: 0;
    justify-content: center;
  }
}
